.page{
  height: 100%;
  display: flex;
  background:  linear-gradient(21deg, #e52bf3, #753df3, #1acbf3);


  .toggle{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
  }




  .form-control{
    margin: auto;
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    //max-height: max-content;
    //transition: max-height 1s linear;
   //height: 25%;
  }

  button{
    margin: 5px;
  }
}
