<div class="action-group" cdkDropListGroup>
    <div class="task-container" cdkDropList>
      <h1>TODO</h1>
      <div class="task-box" cdkDrag >
        Drag me around
      </div>
    </div>
    <div class="task-container" cdkDropList>
      <h1>DOING</h1>
      <div class="task-box" cdkDrag   >
        Drag me around
      </div>
    </div>
    <div class="task-container" cdkDropList>
      <h1>DONE</h1>
      <div class="task-box" cdkDrag >
        Drag me around
      </div>
    </div>
</div>
